label {
  display: block;
  text-align: center;
  cursor: pointer;
  color: black;
  height: calc(var(--spacing) * 10);
  width:100%;
  padding-top: 6px;
}
input[type="radio"]:checked + label{
    border-width: 2px;
    border-color:black;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #E26273;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: calc(infinity * 1px);
  color: black;
  cursor: pointer;
  transition:  .5s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #B83A4C;
  color:oklch(87.9% 0.169 91.605);
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}