/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@theme {
    --color-primary-50: #FDF2F2;
    --color-primary-100: #FAE4E5;
    --color-primary-200: #F6CBCD;
    --color-primary-300: #F0A3AA;
    --color-primary-500: #E26273;
    --color-primary-600: #D64C60;
    --color-primary-700: #B83A4C;
    --color-primary-800: #9A2F3F;
}
@layer components{
    .input-standart{
        @apply bg-gray-100 p-3 text-base w-full sm:w-3/4 md:w-1/2 max-w-sm focus:outline-primary-300 focus:outline-2
    }
    .button-standart{
        @apply py-3 px-10 my-5 hover:bg-primary-700 hover:cursor-pointer hover:text-amber-300 transition-colors duration-500 bg-primary-500 rounded-full
    }
    .container-standart{
        @apply w-full sm:w-lg md:w-xl lg:w-3xl xl:w-5xl bg-white text-center py-12 px-2 sm:p-12 shadow-sm mx-auto text-lg
    }
}
body{
    background-color: #FDF2F2;
}